{% extends "layout.html" %}

{% block title %}
    {{ row['title'] }}
{% endblock %}

{% block LoggedIn %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top mb-2 py-0">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">
            <img src="/static/kittylogo.jpg" alt="kitty" style="width: 40px;">
        </a>

        <!--Toggler/Collapsible button-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Navbar Links-->
        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><h1><strong>Kitty's Book Review</strong></h1></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <!--Quick search form-->
                    <form class="form-inline mr-2" action="/fullSearch" method="POST" id="navbarSearchForm">
                        <input class="form-control mr-sm-1" type="text" name="q" id="query" placeholder="ISBN, Name or Author" required>
                        <!--<button class="btn btn-success" type="submit">Search</button>-->
                        <!--Modal: Button to open the modal, ask if user want to continue, because word path will be reset-->
                        <button type="submit" class="btn btn-primary">
                            Quick Search
                        </button>
                    </form>
                </li>
        
                <li class="nav-item">
                    <a class="btn btn-danger text-white" href="/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Main part: Info of book-->
    <div class="row h-30">
        <!--The book-->
        <div class="col-3">
            <div class="card bg-info text-center text-white mx-3 h-100">
                <div class="card-header">
                    <span class="badge badge-light">ISBN {{ row['isbn'] }}</span>
                </div>
                <div class="card-body">
                    <h3 class="card-title mb-3" style="margin: 0">
                        <b>{{ row['title'] }}</b>
                    </h3>
                    <div id="author">
                        <b><i>{{ row['author'] }}</i></b>
                    </div>
                </div>
                <div class="card-footer">
                    <small>{{ row['year'] }}</small>
                </div>
                <div class="card-footer">
                    <div class="star-rating-reviewed">
                        <span class="fa fa-star-o" data-rating="1"></span>
                        <span class="fa fa-star-o" data-rating="2"></span>
                        <span class="fa fa-star-o" data-rating="3"></span>
                        <span class="fa fa-star-o" data-rating="4"></span>
                        <span class="fa fa-star-o" data-rating="5"></span>
                        <input type="hidden" name="user-rating" class="rating-value" value="{{ gr_rating }}">
                    </div>
                    {{ gr_rating }}/5 from {{ gr_rating_count }} users
                </div>

            </div>
        </div>

        <!--Write review-->
        <div class="col-9 text-right">
            <div class="alert alert-success text-center" id="NotAvailable">{{ successReview }}</div>

            <!--If user has not reviewed yet-->
            <div class="card bg-light mr-2" id="textReview"><!--For user to write review-->
                <div class="card-body">
                    <form action="/review/{{ row['isbn'] }}" method="POST">
                        <div class="form-group" id="reviewText"><!--TextArea-->
                            <label for="reviewText"></label>
                            <textarea class="form-control" rows="5" name="review" id="reviewText" placeholder="Write your review for {{ row['title'] }}" required></textarea>
                        </div>
        
                        <!--Star rating-->
                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="user-rating" class="rating-value" value="0">
                        </div>
                            
                        <button type="submit" class="btn btn-primary mt-2" id="message">Send</button>
                        
                    </form>
                </div>
            </div>

            <!--If user has reviewed. The switch between this div and previous div is controlled by JS-->
            <div class="card bg-light mr-2 text-left" id="alreadyReview">
                <div class="card-header bg-info text-white">
                    <strong>{{ user }}</strong>
                </div>
                <div class="card-body">
                    <div class="star-rating-reviewed">
                        <span class="fa fa-star-o" data-rating="1"></span>
                        <span class="fa fa-star-o" data-rating="2"></span>
                        <span class="fa fa-star-o" data-rating="3"></span>
                        <span class="fa fa-star-o" data-rating="4"></span>
                        <span class="fa fa-star-o" data-rating="5"></span>
                        <input type="hidden" name="user-rating" class="rating-value" value="{{ rating_by_username }}">
                    </div>
                    <p class="card-text">{{ review_by_username }}</p>
                </div>
            </div>
        </div>
    </div>

    <!--Display review-->
    <div class="row mt-2 mx-auto">
        {% for review in reviews %}
            <div class="col-3 my-1">
                <div class="card h-100">
                    <div class="card-header">
                        <strong>{{ review['username'] }}</strong>
                    </div>
                    <div class="card-body">
                        <div class="star-rating-reviewed">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="user-rating" class="rating-value" value="{{ review['rating'] }}">
                        </div>
                        <p class="card-text">{{ review['review'] }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
            
    </div>
    
{% endblock %}